.contactForm-left {
    position: relative;
}

.contactForm-left img {
    width: 100%;
}

.contactForm-leftText {
    width: 100%;
    height: 100%;
    background: #1c1e5380;
    position: absolute;
    top: 0;
    left: 0;
}

.contactForm-leftInner {
    padding: 0px 90px;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-60%);
}

.contactForm-leftInner h2 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    color: #FFF;
}

.contactForm-leftInner p {
    margin-top: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    color: #FFF;
}

.contactForm-right {
    height: 100%;
    padding: 72px 96px 48px;
    background: #1C1E53;
}

.contactForm-right h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: #FFF;
}

.contactForm-right p {
    margin: 16px 0px 36px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFF;
}

.inputForm_1 {
    width: 378px;
    height: 48px;
    padding: 16px;
    background: #1C1E53;
    border: 1px solid #ffffff16;
    outline: 0;
    border-radius: 8px;
    margin-bottom: 12px;
}

.inputForm_1::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    color: #f4f6fc53;
}
.inputForm_2 {
    width: 378px;
    height: 48px;
    padding: 16px;
    background: #1C1E53;
    border: 1px solid #ffffff16;
    outline: 0;
    border-radius: 8px;
    margin-bottom: 12px;
}

.inputForm_2::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    color: #f4f6fc53;
}
.inputForm_3 {
    width: 378px;
    height: 48px;
    padding: 16px;
    background: #1C1E53;
    border: 1px solid #ffffff16;
    outline: 0;
    border-radius: 8px;
    margin-bottom: 12px;
}

.inputForm_3::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    color: #f4f6fc53;
}

.input_btn {
    width: 378px;
    height: 48px;
    margin: 24px 0px;
    border: none;
    border-radius: 40px;
    background: #FCD980;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #1C1E53;
}

.contactForm-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #FFF;
}

@media (max-width:991px) {
    .contactForm-leftInner {
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .contactForm-leftInner h2 {
        font-size: 44px;
        line-height: 56px;
    }

    .contactForm-right {
        text-align: center;
    }
}

@media (max-width:575px) {
    .contactForm-leftInner {
        padding: 15px;
    }

    .contactForm-leftInner h2 {
        font-size: 30px;
        line-height: 42px;
    }

    .contactForm-right {
        padding: 48px 10px;
    }

    .inputForm_1 {
        width: 335px;
    }
    .inputForm_2 {
        width: 335px;
    }
    .inputForm_3 {
        width: 335px;
    }

    .input_btn {
        width: 335px;
    }
}