#process {
    margin: 120px 0px;
}

.processTop {
    margin-bottom: 48px;
    text-align: center;
}

.processTop h2 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 62px;
    color: #282938;
}

.process_box {
    width: 70%;
    margin: 0px auto;
    border-top: 2px dotted #2405F2;
    position: relative;
}

.process_circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #2405F2;
    position: absolute;
    top: -14px;
    left: -38px;
}

.process_text {
    margin-top: 36px;
}

.process_text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-bottom: 8px;
}

.process_text p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938a8;
}

@media (max-width:991px) {
    #process {
        margin: 60px 0px 20px;
    }

    .processTop h2 {
        font-size: 36px;
        line-height: 48px;
    }

    .process_text {
        margin: 28px 24px 40px;
    }
}

@media (max-width:767px) {
    .process_text {
        margin: 28px 7px 40px;
    }
    
    .process_text p {
        font-size: 15px;
    }
}